.zat-panel {
    background: var(--zat-bg-primary);
    border-color: var(--zat-contrast-primary);
    border-radius: .25rem;
    border-style: solid;
    border-width: 1px;
    color: var(--zat-color);
}
